<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBP0hECTq1at2teAnkg6fOu-wqLIwGrHkE</string>
	<key>GCM_SENDER_ID</key>
	<string>184622370860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sector7.sector7Mobile</string>
	<key>PROJECT_ID</key>
	<string>sector7-fb0ff</string>
	<key>STORAGE_BUCKET</key>
	<string>sector7-fb0ff.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184622370860:ios:2ae6ce4e8c8ea698b90189</string>
</dict>
</plist>